@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ITI WEBSITE</h1>
    <p class="lead">Our website provides for a management between the admin, the student and the instructore </p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>
            The admin can register an instructor, add department, add courses, add courses to a specific department, add an instructor to a department,add a student to a department , know all students know and their grades in the courses, all instructors,all courses and all departments
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instructor</h2>
        <p> The Instructor can Know all students in the department he is in and putting the student’s grades for the courses that are in the department</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student</h2>
        <p>The student can edit his information and know all grade</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>