
@{
    ViewBag.Title = "Home";
}

<h3>
    Wellcom admin you can register an instructor, 
</h3>
<h3>
    add department,add courses, add courses to a specific department,
</h3>
<h3>
    add an instructor to a department,add a student to a department ,
</h3>
<h3>
    know all students know and their grades in the courses,
</h3>
<h3>
    all instructors,all courses and all departments.

</h3>

